@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body{
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background: #333;
  color: #ccc;
  overflow: hidden;
}

h1, h2{
  font-weight: 200;
  margin: 0.4rem;
}

h1{
  font-size: 3.5rem;
}

h2{
  font-size: 2rem;
  color: #aaa;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

/* Cursor */
.txt-type > .txt{
  border-right: 0.2rem solid #FFFF00
}

/* Media Queries */
@media(min-width: 1200px){
  h1{
    font-size: 5rem;
  }
}

@media(max-width: 800px){
  h1{
    font-size: 3rem;
  }

  .container{
    padding: 0 1rem
  }
}

@media(max-width: 500px){
  h1{
    font-size: 2.5rem;
  }

  h2{
    font-size: 1.5rem;
  }
}

